<p id="notice"><%= notice %></p>

<h1>Menus for import <%= @import.id %></h1>

<form>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Date from:</label>
    <div class="col-sm-3">
      <input type="date" id="date_from" class="form-control" value="<%= params[:date_from] %>" />
    </div>
    <label class="col-sm-2 col-form-label">Date to:</label>
    <div class="col-sm-3">
      <input type="date" id="date_to" class="form-control" value="<%= params[:date_to] %>" />
    </div>
    <div class="col-sm-2">
      <button id="filter" class="btn btn-secondary">Filter</button>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <button id="export" class="btn btn-primary">Export to JSON</button>
    </div>
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>Menu</th>
      <th>Name</th>
      <th>Date</th>
      <th>Event</th>
      <th>Venue</th>
      <th>Place</th>
    </tr>
  </thead>

  <tbody>
    <% @menus.order(date: :desc).each do |menu| %>
      <tr>
        <td><%= link_to 'Show', menu %></td>
        <td><%= menu.name %></td>
        <td><%= menu.date %></td>
        <td><%= menu.event %></td>
        <td><%= menu.venue %></td>
        <td><%= menu.place %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="application/javascript">
  $('#filter').on("click", function() {
    var queryParameters = {}, queryString = location.search.substring(1),
      re = /([^&=]+)=([^&]*)/g, m;

    while (m = re.exec(queryString)) {
      queryParameters[decodeURIComponent(m[1])] = m[2];
    }

    var key = null;
    ['place', 'event', 'venue'].forEach(function(x) {
      if (queryParameters[x]) {
        key = x;
      }
    });
    document.location.search = "?" + key + "=" + queryParameters[key] +
      '&date_from=' + $('#date_from').val() +
      '&date_to=' + $('#date_to').val();
    return false;
  });

  $('#export').on('click', function() {
    location.search = location.search + '&export=json';
    return false;
  });
</script>
