<p id="notice"><%= notice %></p>

<dl class="row">
  <dt class="col-sm-2">Status:</dt>
  <dd class="col-sm-9"><%= @import.status.capitalize %></dd>

  <dt class="col-sm-2">Menus:</dt>
  <dd class="col-sm-9"><%= @import.menus.count %></dd>

  <dt class="col-sm-2">Menu items:</dt>
  <dd class="col-sm-9"><%= @import.menu_items.count %></dd>

  <dt class="col-sm-2">Menu pages:</dt>
  <dd class="col-sm-9"><%= @import.menu_pages.count %></dd>

  <dt class="col-sm-2">Dishes:</dt>
  <dd class="col-sm-9"><%= @import.dishes.count %></dd>
</dl>

<%= link_to 'All Menus',  menus_import_path(@import) %>

<br />

<%= link_to 'Unique places', places_import_path(@import) %> |
<%= link_to 'Unique venues', venues_import_path(@import) %> |
<%= link_to 'Unique events', events_import_path(@import) %> |

<br />
<br />
<%= link_to 'Back', imports_path %>
